@layout('layouts.markup')

@section('page-content')
 <h1>Articles Page</h1>

    @each(post in posts.toJSON())
        
    @!component('components.articles',title=post.title,body=post.body,id=post.id,date=post.date,time=post.time,author=post.author)

    @endeach

@endsection

