@layout('layouts.markup')

@section('page-content')  
 <div class="modal-header">
          <h4 class="modal-title" id="gridSystemModalLabel">ID:- {{id}}</h4>
      </div>
      <div class="modal-body">
        <div class="body-message">
          <h4>{{title}}</h4>
          <p>{{body}}</p>
        </div>
      </div>
@endsection